<section id="projects">
<div class="container">
  <h3>Open Source Contributions</h3>
  <div class="panel panel-default">
    <div class="panel-body">

      <h5>
        <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/roseoflife/dbt-financial-model" target="_blank">dbt-financial-model</a></strong>
      </h5>
      <p>A financial data modeling project using dbt (data build tool) for ETL and analytics engineering workflows.</p>

      <hr>

      <h5>
        <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/roseoflife/scala" target="_blank">Scala</a></strong>
      </h5>
      <p>Educational resources and examples for learning and working with Scala programming language.</p>

      <hr>

      <h5>
        <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/roseoflife/camp_reservation" target="_blank">Camp Reservation</a></strong>
      </h5>
      <p>A Java-based campsite reservation system demonstrating object-oriented design and database integration.</p>

      <hr>

      <h5>
        <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/roseoflife/RentalAnalyzer" target="_blank">Rental Analyzer</a></strong>
      </h5>
      <p>A TypeScript application for analyzing rental property data and financial metrics.</p>

      <p style="text-align: center; margin-top: 30px; color: #999;">
        <a href="https://github.com/roseoflife" target="_blank">View all repositories on GitHub</a>
      </p>

    </div>
  </div>
</div>
</section>
